---
import SinglePage from "../layouts/SinglePage.astro";
import Prenota from "../components/Prenota.astro";
---

<SinglePage title="Benessere donna">
    
    <div class="container">
    
        <div class="services">
            <h2>Descrizione del percorso</h2>
            <p>
                Dall’adolescenza alla menopausa il nostro corpo cambia ed è fondamentale ascoltarlo, capirlo ed accoglierlo. 
                L’equilibrio ormonale di una donna è tanto complesso quanto delicato. A partire dalle scelte alimentari passando per la salute intestinale, per la gestione dello stress e la qualità del sonno, il rapporto mente-cibo-corpo, il modo di vivere lo sport e il movimento, ogni aspetto è fondamentale per il suo mantenimento.
                In particolare, un’alimentazione flessibile e coltivare un rapporto sereno e di equilibrio con il cibo e il peso può essere di enorme supporto in condizioni quali: 
                AMENORREA IPOTALAMICA: è l’assenza di ovulazione e di mestruazione causata da un forte stress psico-fisico. Il ciclo mestruale è un indicatore dello stato di salute e di benessere generale della donna, non solo un evento legato alla riproduzione. Una situazione di amenorrea può essere un primo segnale che indica che qualcosa non va come dovrebbe. È una condizione reversibile che necessita di un lavoro multidisciplinare.
                SINDROME DELL’OVAIO POLICISTICO (PCOS): è un disordine endocrino-metabolico che si può manifestare con un quadro di sintomi differenti, sia per tipologia che per importanza, e l’alimentazione può essere di grande aiuto. La personalizzazione è la chiave.
                Primo colloquio: durata 75-90 minuti. Costo 100 euro
                Incontri successivi: durata 45-60 minuti. Costo 50 euro
                La frequenza e la durata degli incontri sarà adattata alle necessità del percorso e stabilita di comune accordo. 
            </p>
        </div>
        
    </div>
    <Prenota>
        
    </Prenota>
</SinglePage>

    
	

<style>

    .services{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: 5rem;
    }

</style>