---
import SinglePage from "../layouts/SinglePage.astro"

---

<SinglePage title="Chi sono" >
    <section>
        <div class="container">
            <div class="about">
                <div class="about__content">
                    <h2>Titolo chi sono</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut reprehenderit tempore maxime ut sequi rerum.</p>
                </div>
                <div class="about__img">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </section>
</SinglePage>


