---
import SinglePage from "../layouts/SinglePage.astro"

---
<SinglePage title="Cultura Dieta">
    <div class="container cultura-dieta">
        <h2>Titolo</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo ex quia nisi!</p>
    </div>
</SinglePage>

<style>
    .cultura-dieta {
        margin-block: 5rem;
    }
</style>