---
import SinglePage from "../layouts/SinglePage.astro"

---
<SinglePage title="Cultura Dieta">
    <div class="container cultura-dieta">
        <p>
            Nel bene e nel male oggi tutti parlano di diete, di cibo, di corpi,
            di sport…se da un lato tutta questa attenzione ha sensibilizzato le persone
            e ha spinto molti di noi a scegliere con una maggior cura ciò che mettiamo nel piatto,
            dall’altro ha generato una mole immensa di falsi miti e una grande confusione. 
            Poniti una domanda molto semplice: “QUANTO TEMPO PASSI A PENSARE AL CIBO?”
            Perché anche se la cultura della dieta in cui siamo immersi (o meglio dire sommersi)
            ha normalizzato comportamenti come il tracciare le calorie dei pasti, definire le uscite
            sociali come sgarri, associare il senso di colpa al cibo, sappi che non è così.
            È possibile decostruire tutte queste false credenze e far proprio un modo di nutrirsi più leggero
            e di vero benessere perché, se ci rifletti, quando è diventato tutto così difficile?
            Le diete rigide e restrittive sono la strada più rapida e sicura per mandare il tuo corpo
            in cortocircuito…Mangiare è un bisogno primario, come dormire o bere, come può quindi essere così complicato?
        </p>
    </div>
</SinglePage>

<style>
    .cultura-dieta {
        margin-block: 5rem;
    }
</style>