---
import BasicLayout from "../layouts/BasicLayout.astro";

---

<BasicLayout title="Percorsi">	

    <div class="container">
        <div class="card__wrapper">
            
            <a href="#" class="card">
                
                <img class="card__img" src="/media/segnaposto.webp" alt=""
                transition:name="img"
                transition:animate="slide"
                />

                <p class="card__title">Titolo card</p>
            </a>
    </div>
	
</BasicLayout>


<style>

    .card {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        
    }

    .card__img {
        width: 100%;

    }

</style>