---
import SinglePage from "../layouts/SinglePage.astro";
import Prenota from "../components/Prenota.astro";
---

<SinglePage title="Disturbi alimentari">
    
    <div class="container">
    
        <div class="services">
            <h2>Descrizione del percorso</h2>
            <p>
                Il cibo può essere un’arma a doppio taglio…invece che supporto e cura può diventare ossessione e controllo.
                I disturbi alimentari sono malattie complesse e multifattoriali. Spesso si manifestano diversamente da come li immaginiamo, non hanno un’unica forma o un volto ben riconoscibile. 
                Il meccanismo di queste malattie non può interrompersi da solo, la forza di volontà non è sufficiente. I sintomi del disturbo influenzano fortemente il valore che si da a se stessi ed è per questo che c’è sicuramente bisogno di tanta energia per combatterli, ma è necessario avere un’equipe che ti accompagni in questo percorso.
                Indipendentemente dal tuo peso, se il tuo corpo mostra o meno la tua sofferenza, se hai o meno ricevuto una diagnosi, le tue difficoltà meritano attenzione e un luogo di cura e ascolto non giudicante.
                Ogni passo sarà condiviso. Nel rispetto dei tuoi tempi e delle tue preoccupazioni, recupereremo un rapporto di fiducia con il corpo ed equilibrio con il cibo. Capiremo insieme in che modo posso aiutarti per ritrovare serenità, libertà e cura verso di te.
                I disturbi alimentari sono dolorosi e complessi non solo per chi ne soffre, ma anche per chi ne è vicino. Se pensi che una persona a te cara stia attraversando un periodo difficile e vuoi capire come aiutarla, contattami. Ne parleremo insieme e ti supporterò.
                <br>Primo colloquio: durata 75-90 minuti. <br>Costo 100 euro 
                <br>Incontri successivi: durata 45-60 minuti. <br>Costo 50 euro
                <br>La frequenza e la durata degli incontri sarà adattata alle necessità del percorso e stabilita di comune accordo.
            </p>
        </div>
        
    </div>
    <Prenota>
        
    </Prenota>
</SinglePage>

    
	

<style>

    .services{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: 5rem;
    }

</style>