---

---

<footer>
    <!-- WhatsApp -->
     <div class="container">
        <div class="whatsapp-box">
            <a href="https://wa.me/393403281074?text=Ciao!%20posso%20avere%20maggiori%20info?" class="whatsapp-link" target="_blank">
                <span>Parla con Elisa</span>
                <img src="/media/whatsapp.svg" alt="" class="whatsapp-logo">
            </a>
        </div>
    </div>
    
        <div class="footer-content">
            <div class="col">
            <h3>Dott.ssa Elisa Macedi</h3>
            <p>Biologa Nutrizionista</p>
            <p>Via Antonio Cecchi, 30, 61121 Pesaro PU</p>
            <p>Via Agostini n 3/4</p>
            </div>

            <div class="col">
                <h3>Mappa del sito</h3>
                <ul class="footer-menu">
                    <li><a href="/cultura-dieta">Cultura dieta</a></li>
                    <li><a href="/disturbi-alimentari">Disturbi Alimentari</a></li>
                    <li><a href="/benessere-donna">Benessere Donna</a></li>
                    <li><a href="https://www.iubenda.com/privacy-policy/58797297" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
                    <li><a href="https://www.iubenda.com/privacy-policy/58797297/cookie-policy" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
                    
                </ul>
            </div>
            <!-- <div class="col">
                <h3>Contatti</h3>
                <p>email: </p>
                <p>Telefono: </p>
            </div> -->
    
</footer>

<style>

    footer {
        margin: 0;
        background: var(--primary);
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5em;
        width: 100%;
        padding-inline: 2em;
        padding-block: 5em;
        
    }

    ul {
        padding: 0;
    }

    .footer-menu {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .footer-menu > li > a{
        font-family: 'jost', sans-serif;
        color: white;
    }

    .footer-menu > a {
        color: white;
        
    }


    h3 {color: var(--white);}
    p {color: var(--white); }

    


    .whatsapp-box  {
        display: flex;
        flex-direction: column;
        width: fit-content;
        place-content: center;
        height: 4rem;
        padding-inline: 2em;
        position: fixed;
        bottom: 12px;
        right: 12px;
        background: #FCF5EB;
        border-radius: .25rem;
        overflow: hidden;

    }

    .whatsapp-link {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .whatsapp-logo {
        max-width: 100%;
        height: 1.2rem;
    }

</style>