---
import Form from "./Form.astro";
---

<footer>
    <!-- WhatsApp -->
    <div class="container">
        <div class="whatsapp-box">
            <a href="#" class="whatsapp-link">
                <span>Hai bisogno?</span>
                <img src="/media/whatsapp.svg" alt="" class="whatsapp-logo">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="footer-content">
            <h3>Dott.ssa Elisa Macedi</h3>
            <p>Biologa Nutrizionista</p>
            <p>Indirizzo</p>
            <p>Telefono</p>
        </div>
    </div>
</footer>

<style>

    footer{
        min-height: 50vh;
        background: var(--primary);
        overflow: hidden;
    }
    .whatsapp-box  {
        display: flex;
        flex-direction: column;
        width: fit-content;
        place-content: center;
        height: 4rem;
        padding-inline: 2em;
        position: fixed;
        bottom: 12px;
        right: 12px;
        background: #FCF5EB;
        border-radius: .25rem;
        overflow: hidden;

    }

    .whatsapp-link {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .whatsapp-logo {
        max-width: 100%;
        height: 1.2rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        padding-block: 2rem;
    }

</style>