---
import NavMenu from "./NavMenu.astro";

---

<header>
<div class="container ">
    <div class="header">
        <a href="/" class="logo">Dott.ssa Elisa Macedi<br><p>Biologa Nutrizionista</p></a>
        <NavMenu />
    </div>
</div>
</header>


<style>
    
    header{
        background: var(--light-bg);
    }

    .logo {
        color: var(--secondary);
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1.5rem;
    }

    @media

</style>