---
import NavMenu from "./NavMenu.astro";

---

<div class="container">
    <div class="header">
        <a href="">Logo</a>
        <NavMenu />
    </div>
</div>


<style>
    .header{
        display: flex;
        justify-content: space-between;
        padding-block: 1.5em;
    }
</style>