---
import NavMenu from "./NavMenu.astro";

---

<header>
<div class="container ">
    <div class="header">
        <a href="/" class="logo">Elisa Macedi</a>
        <NavMenu />
    </div>
</div>
</header>


<style>
    
    header{
        background: beige;
    }

    .logo {

    }

    .header{
        display: flex;
        justify-content: space-between;
        padding-block: 2em;
    }

    @media

</style>