---
import NavMenu from "./NavMenu.astro";

---

<header>
    <div class="header">
        <a href="/" class="logo">Dott.ssa Elisa Macedi<br><p>Biologa Nutrizionista</p></a>
        <NavMenu />
    </div>
</header>


<style>

    .logo {
        font-family: 'Cardo', serif;
        color: var(--primary);
        font-size: 2rem;
        
    }

    .logo > p {
        font-size: 1.4rem;
        font-weight: normal;
    }

    .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

</style>