---

---

<section>
    <div class="container">
        <div class="hero">
            
            <h1>Biologa Nutrizionista specializzata in <strong>Disturbi alimentari</strong>, <strong>Amenorrea Ipotalamica</strong> e
                <strong>  Sindrome dell'Ovaio Policistico  </strong></h1>
            <button class="btn-light">Prenota</button>
        </div>
    </div>	
</section>

<style>

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-block: var(--space-xxl);
        height: 70rem;
        text-align: center;
    }

    .hero > h1 > strong  {
        font-weight: normal;
        color: var(--primary);
    }
    
</style>