---

---

<section>
    <div class="container hero">
        <div class="hero__content">
            <h1>Elisa Macedi</h1>
            <p>Biologa nutrizionista specializzata in...</p>
        </div>
        <div class="hero__image">
            <img src="https://picsum.photos/200/300" alt="">
        </div>
    </div>	
</section>

<style>

    .hero {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 1em;
        font-family: var(--text);
    }

    .hero__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        place-content: center;
    }

    .hero__image {
        width: 50%;
    }

    .hero__image > img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
</style>