---

---

<section>
    <div class="container">
    <div class="hero">
        <div class="hero__content">
            <h1>Specializzata in Disturbi alimentari, Amenorrea Ipotalamica e Sindrome dell'Ovaio Policistico</h1>
        </div>

        <div class="hero__image">
            <img src="media/elisa-maced-biologa-nutrizionista.jpg" alt="">
        </div>
    </div>	
</div>
</section>

<style>

    section {
        margin: 0;
    }

    

    .hero {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 4rem;
        
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        place-content: center;
        gap: 1rem;
    }

    .hero__image {
       
        
    }

    .hero__image > img {
        width: 100%;
        height: 60vh;
        object-position: top;
        object-fit: cover;
    }
    
</style>