---

---

<section>
    <div class="container">
        <div class="hero"> 
            <h1>Biologa Nutrizionista specializzata in <strong>Disturbi alimentari</strong>, <strong>Amenorrea Ipotalamica</strong> e
                <strong>  Sindrome dell'Ovaio Policistico  </strong></h1>
            <a href="/prenota" class="btn-light">Prenota</a>
        </div>
    </div>	
</section>

<style>

    a.btn-light {
        font-family: 'Jost', sans-serif;
        font-size: var(--text-md);
        color: white;
        text-transform: uppercase;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-block: var(--space-xxl);
        height: 70rem;
        text-align: center;
    }

    .hero > h1 > strong  {
        font-weight: normal;
        color: var(--primary);
    }
    
</style>