---

const navmenu: Menu[] = [{
        label: "Home",
        href: "/",
    },
    {
        label: "Chi sono",
        href: "/chi-sono",
    },
    {
        label: "Cultura",
        href: "/cultura",
    },
    {
        label: "Percorsi",
        href: "/percorsi",
    },
    {
        label: "Prenota",
        href: "/prenota",
    },
    {
        label: "Page",
        href: "/page",
    }
];

---

<nav>

<ul class="menu off-screen-menu">
    {navmenu.map((item, index) => (
        <li class="menu-item"><a href={item.href} target={item.external ? "_blank" : "" } rel={item.external ? "noopener" : "" }>
          {item.label}
        </a></li>
        ))}
</ul>

<!-- mobile menu -->
<div
class="ham-menu">

    <span></span>
    <span></span>
    
</div>

</nav>

<style>

    /* DESKTOP */

    .menu{
        display: flex;
        list-style-type: none;
        gap: 1.5em;
        align-items: left;
        line-height: 0;
    }

    .menu-item a:link{
        color: var(--link)
        text-decoration: none;
    } 

    /* MOBILE */

    @media (max-width: 768px) {

        .off-screen-menu {
        background-color: var(--bg);
        height: 100vh;
        width: 100%;
        max-width: 50vw;
        position: absolute;
        top: 0;
        right: -50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .9rem;
        gap: 3rem;
        transition: all .5s cubic-bezier(.215, .61, .355, 1);
        
    }

        .off-screen-menu.active {
            right: 0;
        }

        .ham-menu {
            height: 2rem;
            width: 3rem;
            position: relative;
            cursor: pointer;
            text-align: right;
        }

        .ham-menu span {
            height: 1.5px;
            width: 90%;
            background: #000;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            transition: .3 ease;
        }

        .ham-menu span:nth-child(1) {
            top: 25%;
            transition: .3s ease;
            

        }

        .ham-menu span:nth-child(2) {
            top: 50%;
            transition: .3s ease;
            
        }

        .ham-menu.active span:nth-child(1) {
            top: 50%;
            width: 50%;
            transition: .3s ease;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        .ham-menu.active span:nth-child(2) {
            top: 50%;
            width: 50%;
            transition: .3s ease;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

}

</style>

<script>

        const hamMenus = document.querySelectorAll('div.ham-menu');
        const offScreenMenus = document.querySelectorAll('ul.off-screen-menu');

        hamMenus.forEach((hamMenu, index) => {
        hamMenu.addEventListener('click', () => {
            hamMenu.classList.toggle('active');
            offScreenMenus[index].classList.toggle('active');
            console.log('button was clicked');
    });
});


</script>