---

const navmenu: Menu[] = [{
        label: "Home",
        href: "/",
    },
    {
        label: "Chi sono",
        href: "/chi-sono",
    },
    {
        label: "Cultura",
        href: "/cultura",
    },
    {
        label: "Percorsi",
        href: "/percorsi",
    },
    {
        label: "Prenota",
        href: "/prenota",
    }
];

---

<ul class="nav">
    {navmenu.map((item, index) => (
        <li class="nav-item"><a href={item.href} target={item.external ? "_blank" : "" } rel={item.external ? "noopener" : "" }>
          {item.label}
        </a></li>
        ))}
    <!-- <li class="nav-item">
        <a href="/chi-sono" data-astro-prefetch>Chi sono</a>
    </li>
    <li class="nav-item">
        <a href="/cultura" data-astro-prefetch>Cultura</a>
    </li>
    <li class="nav-item">
        <a href="/percorsi" data-astro-prefetch>Percorsi</a>
    </li>
    <li class="nav-item">
        <a href="/prenota" data-astro-prefetch>Prenota</a>
    </li> -->
</ul>

<!-- mobile menu -->
<div class="mobile-menu" id="mobile-menu">

<span></span>
<span></span>

</div>

<style>

    /* DESKTOP */

    .nav{
        display: flex;
        list-style-type: none;
        gap: 1.5em;
        align-items: left;
        line-height: 0;
    }

    .nav-item a:link{
        color: var(--link)
        text-decoration: none;
    } 
    
    /* MOBILE MENU */

    /* burger */
    .mobile-menu{
        display: none;
        cursor: pointer;
    }

    .mobile-menu > span{
        display: block;
        margin-top: 10px;
        width: 2rem;
        height: 5px;
        background-color: rgb(0, 0, 0);
        height: .10rem;
    }

    @media (max-width: 768px) {
    /* burger */
    .mobile-menu {
        display: block;
    }

    /* dropdown */
    .nav {
        position: absolute;
        top: 9.5%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 2rem;
        background-color: var(--bg);
        opacity: 0.9;
        font-size: 1.5rem;
        text-transform: uppercase;
        width: 100%;  
        height: 100vh;
        gap: 4rem;
        height: 0;
        overflow: hidden;
        padding-top: 0rem;
        z-index: 99;
        transition: all 1s cubic-bezier(.215, .61, .355, 1);
        
    }

    .show {
        padding-top: 4rem;
        height: 100vh;

    }

}

</style>

<script>

    const mobileMenu = document.getElementById('mobile-menu');
    const navigationMenu = document.querySelector('.nav');

    mobileMenu.addEventListener('click', () => {
    navigationMenu.classList.toggle("show");
    });

</script>