---

---

<ul class="nav">
    <li class="nav-item"><a href="/chi-sono">Chi sono</a></li>
    <li class="nav-item"><a href="/cultura">Cultura</a></li>
    <li class="nav-item"><a href="/percorsi">Percorsi</a></li>
    <li class="nav-item"><a href="/prenota">Prenota</a></li>
</ul>

<style>

    .nav{
        display: flex;
        list-style-type: none;
        gap: 1.5em;
        align-items: center;
        line-height: 0;
    }

    .nav-item a:link{
        color: var(--link)
        text-decoration: none;
    }

</style>