---

const navmenu: Menu[] = [

    {
        label: "Chi sono",
        href: "/chi-sono",
    },
    {
        label: "Cultura Dieta",
        href: "/cultura",
    },
    {
        label: "Percorsi",
        href: "#",
        items: [
            {
                label: "Disturbi alimentari",
                href: "/disturbi-alimentari",
            },
            {
                label: "Benessere donna",
                href: "/benessere-donna",
            },
        ]
    },
    {
        label: "Prenota",
        href: "/prenota"
    },

];

---

<nav>

<ul class="menu off-screen-menu">
    
    {navmenu.map((item, index) => (
        <li class="menu-item" id={item.label === "Percorsi" ? "percorsi-item" : undefined}><a href={item.href} target={item.external ? "_blank" : "" } rel={item.external ? "noopener" : "" }>
          {item.label}
        </a>

        <!-- Dropdown -->
        {item.label === "Percorsi" && (
        <ul class="dropdown-menu">
            {navmenu[2].items.map((subItem, subIndex) => (
                <li class="dropdown-menu__item">
                    
                    <a href={subItem.href}>
                        {subItem.label}
                        </a>
                    
                    </li>
            )
        )}
        </ul>
        )} 
            
        </li>
        ))}

</ul>

<!-- mobile menu -->
<div
class="ham-menu">

    <span></span>
    <span></span>
    
</div>

</nav>

<style>

    /* DESKTOP */

    .menu{
        display: flex;
        list-style-type: none;
        align-items: left;
        gap: 4rem;
        position: relative;
        font-family: 'co-headline',sans-serif;
    }

    .menu-item a{
        text-decoration: none;
        font-size: var(--text-xs);
        
    } 


    /* Dropdown menu*/
    .dropdown-menu {
        background: var(--light-bg);
        border-radius: .5rem;
        list-style-type: none;
        margin-top: 10px;
        padding-inline: 1.5rem;
        padding-block: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: .5em;
        position: absolute;
        opacity: 0;
        transition: opacity 150ms ease-in-out;

    
    }

    .dropdown-menu.active {
        opacity: 1;
    }

    .dropdown-menu > li > a {
        font-size: 1.4rem;        
    }

    

    /* MOBILE */

    @media (max-width: 768px) {


        .off-screen-menu {
        background-color: var(--light-bg);
        height: 100vh;
        width: 100%;
        max-width: 50vw;
        position: absolute;
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .9rem;
        gap: 3rem;
        transition: all .5s cubic-bezier(.215, .61, .355, 1);
        z-index: 998;
        
    }

    .off-screen-menu.active {
            right: 0;
        }

    .ham-menu {
            height: 2rem;
            width: 3rem;
            position: relative;
            cursor: pointer;
            text-align: right;
            z-index: 999;
        }

    .ham-menu span {
            height: 1.5px;
            width: 90%;
            background: #000;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            transition: .3 ease;
        }

    .ham-menu span:nth-child(1) {
            top: 25%;
            transition: .3s ease;
            

        }

    .ham-menu span:nth-child(2) {
            top: 50%;
            transition: .3s ease;
            
        }

    .ham-menu.active span:nth-child(1) {
            top: 50%;
            width: 50%;
            transition: .3s ease;
            transform: translate(-50%, -50%) rotate(45deg);
        }

    .ham-menu.active span:nth-child(2) {
            top: 50%;
            width: 50%;
            transition: .3s ease;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

}

</style>

<script>
    
    const dropdownButton = document.querySelector('#percorsi-item');
        const dropdown = document.querySelector('.dropdown-menu')  

        dropdownButton.addEventListener('click', (event) => {
           
            event.stopPropagation();
            dropdown.classList.toggle("active");
        
        })
          
        document.addEventListener('click', function(e) {
            const isClickedInsideDropdown = dropdown.contains(e.target);
            if (!isClickedInsideDropdown) {
                dropdown.classList.remove("active");
            } 
        });

        
        const hamMenus = document.querySelectorAll('div.ham-menu');
        const offScreenMenus = document.querySelectorAll('ul.off-screen-menu');

        hamMenus.forEach((hamMenu, index) => {
        hamMenu.addEventListener('click', () => {
            hamMenu.classList.toggle('active');
            offScreenMenus[index].classList.toggle('active');
            console.log('button was clicked');
        });
        });





</script>
