---

---

<section >
    <div class="container">
        <div class="plus">
            <div class="plus__title">
                <h2 class="animation-entry-left">Insieme capiremo che in nutrizione:</h2>
            </div>
            <div class="plus__points">
                <div class="accordion">
                    <input type="checkbox" id="tab1" />
                    <label class="accordion-label" for="tab1">Non è tutta questione di numeri <span><p class="btn-show-more">+</p></span></label>

                    <div class="accordion-content">
                        <p>NUMERI: calorie, grammi, centimetri, chilogrammi…un percorso
                            nutrizionale valido non si basa sulle numerazioni ma sulla comprensione degli obiettivi, sulla
                            considerazione delle abitudini e dei gusti, sul consolidamento dei tuoi punti di forza e sul
                            superamento delle difficoltà)</p>
                    </div>
                </div>

                <div class="accordion">
                    <input type="checkbox" id="tab2" />
                    <label class="accordion-label" for="tab2">La salute è autodeterminata <span><p class="btn-show-more">+</p></span></label>
                    <div class="accordion-content">
                        <p>la salute è un concetto ampio ed estremamente personale.
                            Non posso essere io a definirla al posto tuo, ma posso supportarti
                            nella sua ricerca e fornirti gli strumenti per raggiungerla
                        </p>
                    </div>
                </div>

                <div class="accordion">
                    <input type="checkbox" id="tab3" />
                    <label class="accordion-label" for="tab3">Il benessere è a 360° <span><p class="btn-show-more">+</p></span></label>
                    <div class="accordion-content">
                        <p>quando senti di stare bene? Probabilmente la risposta non sarà un
                            semplice “quando non ho nessun fastidio” o “quando il mio corpo è in forma”,
                            ma noterai che c’è un collegamento tra il tuo corpo, la tua mente e la tua socialità.
                            Perché non iniziare a considerarle tutte e tre?</p>
                    </div>
                </div>

                <div class="accordion">
                    <input type="checkbox" id="tab4" />
                    <label class="accordion-label" for="tab4">C'è bisogno del giusto tempo <span><p class="btn-show-more">+</p></span></label>
                    <div class="accordion-content">
                        <p>le tue esigenze sono la mia priorità, per questo non ho una durata o un numero di incontri prestabilito…
                            è il tuo percorso con le tue necessità e le tue richieste;
                            non c’è nessuna fretta, non c’è nessuna scadenza o tempo da rispettare</p>
                    </div>
                </div>

                <div class="accordion">
                    <input type="checkbox" id="tab5" />
                    <label class="accordion-label" for="tab5">Hai potere di scelta <span><p class="btn-show-more">+</p></span></label>
                    <div class="accordion-content">
                        <p>sperimenta la libertà di fare scelte consapevoli e autonome, lascia andare false credenze,
                            rigidi schemi alimentari, imposizioni esterne, categorizzazione dei cibi in sano/non sano, da dieta/non da dieta...
                            basare la propria alimentazione su questi estremismi è inutile e faticoso  </p>
                    </div>
                </div>

                <div class="accordion">
                    <input type="checkbox" id="tab6" />
                    <label class="accordion-label" for="tab6">Il tuo corpo sa <span><p class="btn-show-more">+</p></span>  </label>
                    <div class="accordion-content">
                        <p>sa benissimo quando ha bisogno di energia, quando ha fame o quando è sazio, sa che esiste il piacere nel cibo,
                            da considerare come necessario e non come qualcosa da temere o silenziare!
                            Insieme troveremo fiducia nei segnali che ti manda il corpo
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>

    section {
        background: var(--primary);
        margin-block: 0;
    }

    

    .plus {
        padding-block: calc(20vh - 2rem);
        color: var(--white);
    }

    .plus__title > h2 {
        color: var(--white);    
    }

    .plus__points {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-block: 4rem;
        max-width: 80%;
    
    }

    input{
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .accordion {
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0 4px -2px rgba(0,0,0,0.5);
        transition: all .6s ease-in-out;
    }

    .accordion-label {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: .5px solid;
        margin-left: 4rem;
        font-size: 2rem;
        font-family: 'co-headline', sans-serif;
    }

    .accordion-content {
        max-height: 0;
        padding: 0 1em;
        transition: all .35s ease;
        margin-left: 4rem;

    }

    .accordion-content > p {
        font-size: 1.8rem;
    }

    input:checked ~ .accordion-content {
        max-height: 100vh;
        padding: 1em;
    }

    .accordion:hover {
        scale: 1.1;
    }

    .btn-show-more {
        line-height: 0;
    }


</style>