---
---

<section>
    <div class="container">
        <h2>Percorsi</h2>
    </div>
    <div class="container card">
        <div class="card__box">
            <img src="../../public/media/segnaposto.webp" alt="" class="card__img">

            <div class="card__content">
            <h3 class="card__title">Percorso uno</h3>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ab.</p>
        </div>
            <div class="card__btn"><a href="#" class="btn-light">Vai</a></div>
        </div>
        <div class="card__box">
            
            <img src="../../public/media/segnaposto.webp" alt="" class="card__img">
            
            <div class="card__content">
            <h3 class="card__title">Percorso uno</h3>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ab.</p>
            </div>
            
            <div class="card__btn"><a href="#" class="btn-light">Vai</a></div>
        
        </div>
    </div>
</section>

<style>

    .card {
        display: grid;
        grid-template-columns:
        repeat(auto-fit,minmax(20rem, 1fr));
        gap: 1rem;
        margin-top: 2rem;
        
    }
    .card__box  {
        display: flex;
        flex-direction: column;
        background: beige;
        gap: 2rem
        
    }

    .card__content {
        padding: 2em;
    }

    .card__title {
        text-transform: uppercase;
        
    }


    .card__btn {
        display: flex;
        width: 100%;
        justify-content: end;

    }

    .btn-light {
        display: flex;
        place-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        background-color: bisque;
    }

</style>