/* Root */ 
:root {
    
    /* Color */
    --primary: #DEAB27;
    --primary-50: #bb8f21;
    --secondary: #171306;
    --white: #fff;
    --light-bg: #FCF5DE;
    --link: var(--primary);

    /* Text */
    --text-xs: 1.5rem; 
    --text-sm: 1.8rem; 
    --text-md: 2rem; 
    --text-lg: 2.2rem; 
    --text-xl: 2.5rem; 
    --text-xxl: 3rem;
    
    
    /* Spacing */
    --space-xs: clamp(0.25rem, 1vw, 0.5rem);
    --space-sm: clamp(0.5rem, 1.5vw, 1rem); 
    --space-md: clamp(1rem, 2vw, 1.5rem);
    --space-lg: clamp(1.5rem, 2.5vw, 2rem); 
    --space-xl: clamp(2rem, 3vw, 2.5rem); 
    --space-xxl: clamp(3rem, 2.8503rem + 0.6387vw, 4rem); 

    @media (min-width: 40em) {

    --text-xs: 1.6rem; 
    --text-sm: 1.8rem; 
    --text-md: 2.2rem; 
    --text-lg: 2.7rem; 
    --text-xl: 3.5rem; 
    --text-xxl: 6rem;

    }
}

/* Fonts */ 

/* Jost Fonts */
@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}

@font-face {
  font-family: 'co-headline';
  src: url('/fonts/CoHead.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}



/* Normalize CSS */

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	line-height: 1.15; 
	-webkit-text-size-adjust: 100%; 
	-moz-tab-size: 4; 
	tab-size: 4; 
  font-size: 62.5%;
}

body {
	margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

main {
  margin-top: 8rem;
}

img, figure, picture {display: block; max-width: 100%;}

h1,h2,h3,h4,h5 {margin: 0; line-height: 1.4em;}

h1 {font-family: 'co-headline', sans-serif; font-size: var(--text-xxl); font-weight: normal;}
h2 {font-family: 'co-headline', sans-serif; font-size: var(--text-xl); font-weight: normal; color: var(--primary);}
h3 {font-family: 'co-headline', sans-serif; font-size: var(--text-md); text-transform: uppercase; font-weight: normal; color: var(--primary);}
h4 {font-family: 'co-headline', sans-serif; font-size: var(--text-sm); text-transform: uppercase; font-weight: normal;}
p  {font-family: 'Jost', sans-serif;font-size: var(--text-xs); line-height: 1.3em; }

a { font-size: 1.5rem;text-decoration: none; color: var(--link); font-family: 'Jost', sans-serif;}
a:hover { color: var(--primary-50); }
label{ font-family: 'Jost', sans-serif; font-size: var(--text-xs); }
.container { width: min(100% - 4rem, 120rem); margin-inline: auto; }
.two-columns {display: grid; grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));}
.btn-light { padding: 1rem 6rem; border: none; border-radius: .25rem; background: var(--primary); width: max-content; }
.border-xs{border: 1px solid var(--primary);border-radius: 4px;}
.bg-primary{background-color: var(--primary); color: white;}

/* -----------
LENIS & ANIMATIONS
-------------*/

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Animations */

.animation-entry-left {
  animation: entry-left linear both;
  animation-timeline: view(block 50% 10%);
  animation-duration: 1s;
  animation-range: entry;
  
}

@keyframes entry-left {

  from  { transform: translateX(-100%); }
  to    { transform: translateX(0); }

}