/* Root */ 
:root {
    --primary: #000;
    --secondary: #fff;
    --link: var(--primary);
    --bg: #ddd;
}

/* Fonts */ 

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

/* Normalize CSS */

*,
::before,
::after {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	line-height: 1.15; 
	-webkit-text-size-adjust: 100%; 
	-moz-tab-size: 4; 
	tab-size: 4; 
}

body {
  font-family: 'Inter', sans-serif;
	margin: 0;
}


h1 {font-family: 'Garamond', serif;font-size: 4rem; font-weight: bold;}
h2 {font-size: 3rem;}
h3 {font-size: 2rem;}
p  {font-size: 1.6rem;font-weight: 300;}

a { text-decoration: none; color: var(--link); }

section { margin-block: 2em; }

.container{ width: min(100% - 4rem, 80rem); margin-inline: auto; }