---
import { ViewTransitions } from 'astro:transitions';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Form from '../components/Form.astro';
import '../index.css';
import CommonHead from '../components/CommonHead.astro';

const {title} = Astro.props;

---

<!DOCTYPE html>
<html lang="it">
  <head>
    <CommonHead title={title} />
  </head>
  
  <body>
    <Header />
    <main>
    <slot />
    </main>
    <Footer />
  <script src="https://web3forms.com/client/script.js" async defer></script>
  </body>
</html>