---
import CommonHead from "../components/CommonHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../index.css';
const pageTitle = Astro.props.title;

---

<!doctype html>
<html lang="it">

  <head>
    
    <CommonHead />
    
  </head>
  
  <body>
    <Header />
    
    <div class="single-page">
      <main>
      
        <div class="container page-title">
            <h1 class="page-title__title">{pageTitle}</h1>
        </div>
    <slot />
    </main>
    </div>
    
    <Footer />
    
    

  </body>
</html>

<style>

    .single-page {
      padding-block: 8rem;
    }
    
    .page-title {
      margin-block: 1rem;
    }

    .page-title__title{
        text-transform: uppercase;
        font-size: clamp(3rem, 2.5509rem + 1.9162vw, 6rem);
        color: var(--primary)
    }
</style>